.header {
  background-color: #d70018;  
  display: flex;
  justify-content: center;
}
.input-search {
  padding: 7px 0px 10px 0px;
}
.about__box-content{
  margin-left: 5px;
  padding-top: 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.call {
  display: flex;
  align-items: center;
}
.phone-icon{
  font-size: x-large;
  margin-left: 10px;
  color: #fff !important;
}
.login-logout {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.login-logout-icon {
  font-size: x-large;
  margin-left: 10px;
  color: #fff !important;
}
.cart {
  margin-top: 17px;
  font-weight: 500;
}